@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  @apply text-center text-4xl mb-4
}

h2 {
  @apply text-center text-4xl mb-4
}

p {
  @apply text-center text-3xl mb-4
}

@layer components {
  .standard-button {
    @apply text-2xl justify-center items-center mx-auto block border-4 rounded-xl w-60 h-24 my-24 flex
  }
}
